@model IEnumerable<string>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Categories
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Products" asp-action="Category" asp-route-name="@category">
                    @category
                </a>
            </li>
        }
    </ul>
</li>
